body {
  background-color: #2F303A;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-nav {
  /*background-color: aqua;*/
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-brand {
  /*background-color: aquamarine;*/
  width: 270px;
  margin-left: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo-brand img {
  width: 60px;
  height: 60px;
}

.logo-brand p {
  margin-right: 30px;
}

.logo-brand a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.list_a {
  /*background-color: blanchedalmond;*/
  width: 196px;
  margin-right: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list_a a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.container_a {
  /*background-color: blue;*/
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  line-height: 0.1;
}

.landing_image {
  margin-left: 46px;
}

.landing_image img {
  width: 602px;
  height: 849px;
}

.stream {
  /*background-color: aquamarine;*/
  width: 825px;
  height: 326px;
  margin-top: 100px;
  color: white;
}


#first-p {
  font-size: 72px;
}

#sec-p {
  font-size: 36px;
}


.stream button {
  background-color: #2F303A;
  width: 224px;
  height: 86px;
  margin-top: 20px;
  color: white;
  font-size: 24px;
  border: 2px solid #1762A7;
  border-radius: 10px;
}

.stream button:hover {
  background-color: #1762A7;
  transition: 1.5s;
}