body {
  background-color: #2F303A;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.top-nav {
  /*background-color: aqua;*/
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-brand {
  /*background-color: aquamarine;*/
  width: 270px;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo-brand img {
  width: 60px;
  height: 60px;
}

.logo-brand p {
  margin-right: 30px;
  margin-top: 8px;
}

.logo-brand a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.list_a {
  /*background-color: blanchedalmond;*/
  width: 196px;
  margin-right: 76px;
  margin-top: 15px;
 
}

.list_a li {
  padding: 17px;
  display: inline; 
}

.list_a a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.container_a {
  /*background-color: blue;*/
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
}

.landing_image {
  margin-left: 76px;
}

.landing_image img {
  width: 602px;
  height: 849px;
}

.stream {
  /*background-color: aquamarine;*/
  width: 825px;
  height: 326px;
  margin-top: 100px;
  color: white;
}


#first-p {
  font-size: 72px;
}

#sec-p {
  font-size: 36px;
}


.stream input {
  background-color: #2F303A;
  width: 224px;
  height: 86px;
  margin-top: 40px;
  color: white;
  font-size: 24px;
  border: 2px solid #1762A7;
  border-radius: 10px;
}

.stream input:hover {
  background-color: #1762A7;
  transition: 1.5s;
}

/*Discover page*/
.topnav {
  margin-top: 20px;
}

.album {
  /*background-color: red;*/
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.album-sec {
  /*background-color: #1762A7;*/
  height: 409px;
  margin-left: 76px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover {
  /*background-color: aqua;*/
  margin-right: 46px;
  flex-basis: 40%;
}

.album-logo {
  /*background-color: bisque;*/
  display: flex;
}

.box {
  background-color: #202027;
  width: 134px;
  height: 146px;
  margin: 10px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-heading {
  font-size: 62px;
}

.cover img {
  width: 409px;
  height: 409px
}

.textsec {
  margin-left: 10px;
  font-size: 26px;
}

/*login page*/
.login_page {
  /*background-color: #1762A7;*/
  margin-top: 100px;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.join-text {
  margin-left: 68px;
  font-size: 72px;
  align-self: center;
}

.join-text span {
  font-size: 92px;
  color: #BC3AB0;
}

.form_a {
  background-color: #202027;
  width: 36%;
  height: 417px;
  margin-left: 80px;
  padding: 10px;
  line-height: 2;
}

.form_a form {
  width: 87%;
  margin: auto;
  padding: 3px;
  font-size: 24px;
}

.form_a input {
  background-color: #202027;
  width: 380px;
  padding: 15px;
  border: 1px solid #1762A7;
  border-radius: 7px;
}

.form_a p {
  margin-left: 5px;
}

.join_button input {
  width: 413px;
  margin-top: 33px;
  border: none;
  background-color: #1762A7;
  color: white;
  font-size: 18px;
}

.footer-end {
  background-color: #202027;
  margin-top: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-end a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.about-sec {
  margin-left: 76px;
  align-self: center;
  font-weight: 600;
}

.about-sec li {
  padding: 5px;
  display: inline;
}

.social-icon {
  margin-right: 76px;
  margin-top: 10px;
  font-size: smaller;
}

.social-icon li {
  padding: 5px;
  display: inline;
}

.social-icon span {
 padding: 3px;
 }


