body {
  padding: 0;
  margin: 0;
  background-color: #2F303A;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyvh {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.max_width {
  width: 100%;
  max-width: 85%;
  margin: 0px auto;
}

.header-nav {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo-brand {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo-brand div {
  width: 60px;
  height: 60px;
  background-image: url(../images/Logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header-logo-brand a {
  padding-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 400;
}

.header-nav-container {
  width: 50%;
}

.header-nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-nav-container-list-bars {
  display: flex; 
  align-items: center;
  list-style: none;
}

.header-nav-container-list-bars li {
  margin-left: 30px;
}

.header-nav-container-list-bars a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.mobile-nav-button {
  display: none;
}

@media (max-width: 768px) {
  .header-logo-brand div {
    width: 45px;
    height: 45px;
  }

  .header-logo-brand a {
    font-size: 20px;
  }

  .header-nav-container-list-bars {
    width: 30%;
    background-color: #1f1f20;
    position: fixed;
    right: -100%;
    top: 5em;
    flex-direction: column;
    transition: 0.3s;
    z-index: 100;
  }

  .mobile-nav-button {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .mobile-nav-button i {
    font-size: 20px;
    color:white;
  }

  .header-nav-container-list-bars {
    align-items: flex-start;
  }

  .header-nav-container-list-bars.active {
    right: 10px;
  }

  .header-nav-container-list-bars li {
    margin: 20px 0px 10px 20px;
  }

  .header-nav-container-list-bars a {
    font-size: 18px;
  }
}
/* header ends here */
/* music section start here */
.music {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
}


.music-section {
  display: flex;
  justify-content: space-between;
} 

.images-for-landingpage {
  width: 40%;
}

.music-section-landingpage {
  height: 420px; 
  background-image: url(../images/landing-page-girl.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left; 
  --animate-duration: 3s;
}

.music-section-stream {
  width: 60%;
  --animate-duration: 3s;
}

.music-section-stream-first {
  font-size: 52px;
  font-weight: 500;
}

.music-section-stream-second {
  margin-top: 10px;
  font-size: 24px;
  letter-spacing: 1.0px;
}

.music-section-stream-link {
  background-color: #1762A7;
  width: 224px;
  padding: 17px 0px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-section-stream-link a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.mobile-landing-page {
  display: none;
}

@media (max-width: 768px) {
  .music {
    top: 20%;
    background-image: url(../images/landing-page-girl.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .music-section {
    display: flex;
    flex-direction: column;
  } 

  .images-for-landingpage {
    width: 100%;
  }

  .music-section-landingpage {
    display: none;
  }

  .music-section-stream {
    width: 100%;
    text-align: center;
  }
  
  .music-section-stream-first {
    font-size: 32px;
  }
  
  .music-section-stream-second {
    margin: 5px 0px 10px 0px;
    font-size: 18px;
  }
  
  .music-section-stream-link {
    background-color: #1762A7;
    width: 144px;
    padding: 10px 0px;
    margin-top: 50px;
    margin: 0px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .music-section-stream-link a {
    font-size: 20px;
  }
  
}

/*Discover page*/
.discover {
  padding: 50px 0px;
}

.discover-album {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.discover-album-sec {
  width: 48%;
}

.discover-album-sec-heading {
  margin-bottom: 30px;
  font-size: 42px;
  letter-spacing: 2px;
}

.discover-album-album-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.discover-album-album-logo a {
  width: 30%;
  height: 146px;
  background-color: #202027;
  text-decoration: none;
  text-align: center;
  color: white;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discover-album-album-logo-box p {
  font-size: 18px;
}

.discover-album-album-logo-textsec {
  margin-top: 40px;
  font-size: 23px;
}

.discover-album-sec-cover {
  width: 48%;
  height: 360px;
  background-image: url(../images/covers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .discover {
    padding: 30px 0px;
  }
  .discover-album {
    background-image: url(../images/covers.jpg);
    background-position: center;
    background-size: cover;
    padding: 30px 0px;
  }

  .discover-album-sec-heading {
    margin-bottom: 10px;
    font-size: 38px;
  }

  .discover-album-sec {
    width: 100%;
  }

  .discover-album-album-logo a {
    width: 47%;
    height: 150px;
    background-color: rgba(32, 32, 39, 0.9);
    margin-bottom: 20px;
  }

  .discover-album-album-logo-textsec {
    margin-top: 0px;
    font-size: 20px;
  }

  .discover-album-sec-cover {
    display: none;
  }
  
} 

/*login page*/
.join-containner {
  margin-top: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.join-container-text {
  width: 52%;
  font-size: 72px;
  text-align: center;
}

.join-container-text span {
  color: #BC3AB0;
  font-weight: 600;
}

.join-container-form {
  width: 44%;
  background-color: #202027;
  padding: 15px 0px;
  line-height: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.join-container-form-form {
  width: 90%;
}

.join-container-form-form label {
  margin-bottom: 5px;
  font-size: 24px;
}

.join-container-form-form input {
  background-color: transparent;
  width: 100%;
  margin-bottom: 5px;
  padding: 13px 5px;
  border: 1px solid #1762A7;
  outline: none;
  border-radius: 7px;
}

.join_button {
  width: 413px;
  margin-top: 33px;
  margin-bottom: 33px;
  border: none;
  background-color: #1762A7!important;
  color: white;
  font-size: 18px;
} 

@media (max-width: 768px) {
  .join-containner {
    color: white;
    flex-direction: column;
  }
  
  .join-container-text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 52px;
  }
  
  .join-container-form {
    width: 100%;
  }
  
  .join-container-form-form label {
    font-size: 22px;
  }
  
  .join-container-form-form input {
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

footer {
  width: 100%;
  background-color: #202027;
  /* position: absolute;
  bottom: 0; */
}

.footer-end {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-end a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.about-sec {
  align-self: center;
}

.about-sec a {
  font-size: 15px;
  font-weight: 600;
}

.about-sec li {
  padding: 5px;
  display: inline;
}

.social-icon ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social-icon li {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon a {
  margin-left: 5px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .social-icon ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .social-icon img {
    width: 18px;
    height: 18px;
  }

  .social-icon a {
    font-size: 12px;
  }
  
  .about-sec a {
    font-size: 12px;
  }
}